<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="ru"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="ru"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="ru"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
    <meta name="description" content="Dodobox - это наборы для развития и игры с детьми от трех до шести лет.">
    <meta name="author" content="Dodo Company, yura.zatsepin@gmail.com">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/style.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

    <!-- TypeKit
    ================================================== -->

    <script type="text/javascript" src="//use.typekit.net/zmq5ceu.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

   </head>
<body >
    <!-- Primary Page Layout
	================================================== -->
	<div class="container">
      <!--<img src="images/box.jpg" style="width:100%;height:100%;">-->
      <!--<div class="two columns alpha">Two</div>-->
      <!--<div class="two columns alpha">Two</div>-->
      <a href="/"><img src="/images/logo.png" class="one columns alpha logo" style="width:15%;height:15%;"></a>
      
      <ul class="twelve columns omega nav">
        <li>
          <a href="/how-it-works"><h4>Как это работает?</h4></a>
        </li>
        <li>
          <a href="/about"><h4>О нас</h4></a>
        </li>
        <li>
          <a href="/price-delivery"><h4>Оплата и доставка</h4></a>
        </li>
        <li>
          <a href="/contact"><h4>Контакты</h4></a>
        </li>
      </ul>

    </div><!-- container -->
    {{ content }}
    {% include testimonials.html %}
       <!--Footer -->
      <!--<footer>-->
        <!--<h2>-->
          <!--<a href="http://vk.com/dodobox" class="popup_trigger">Группа в VK.</a>-->
        <!--</h2>-->
      <!--</footer>-->
    <!-- JS
    ================================================== -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18909988-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

<!-- End Document
================================================== -->
</body>
</html>
